:root {
  --lightModeBackGround: lightcyan;
  --lightModeFontColor: black;
  --winnerBackGroundColor: rgb(180 251 192 / 28%);
  --winnerColor: limegreen;
}

@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: var(--lightModeBackGround);
  font-family: 'Saira', sans-serif;
}

textarea {
  border: none;
  outline: none;
}

textarea:focus,
textarea:active,
input:active,
input:focus {
  border: none;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*****************************************/
/************Header Settings**************/
/*****************************************/

header {
  height: 20%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-right: 50px;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.title {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  margin-left: -10px;
}

.title::before {
  display: inline-block;
  content: "";
  border-left: 3px solid black;
  height: 80px;
  margin: 0px 15px 0px 0px;
}

header button {
  background-color: transparent;
  border: none;
  width: 5%;
  height: 30%;
  border-radius: 50%;
  margin-left: 25px;
}

button img {
  width: 75%;
}

button img:hover {
  cursor: pointer;
}

.logo img {
  width: 8%;
  margin-left: 3%;
}

/*****************************************/
/*********Main Section Settings***********/
/*****************************************/

main {
  height: 77%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 25px;
  justify-content: space-around;
  align-items: center;
}

/*****************************************/
/********Player Options Settings**********/
/*****************************************/

.options {
  position: fixed;
  margin: auto;
  height: 10vh;
  width: 10vw;
  height: 55vh;
  width: 26vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.75);
  text-align: center;
  box-sizing: border-box;
}

.heading {
  font-size: 2.5rem;
  display: block;
  margin-bottom: 10px;
}

.option {
  width: 80%;
  font-size: 1.5rem;
  padding: 10px;
  margin: 25px 0 25px 0;
  color: var(--lightModeBackGround);
  background-color: var(--lightModeFontColor);
  border-color: var(--lightModeBackGround);
  transition: all 250ms;
}

.option:hover {
  color: var(--lightModeFontColor);
  background-color: var(--lightModeBackGround);
  border-color: var(--lightModeFontColor);
  cursor: pointer;
}

.option:active {
  box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
}

.option:last-of-type {
  margin-top: 10px;
}

.heading2 {
  font-size: 2.8rem;
  display: block;
  margin-bottom: 20px;
  margin-top: 25px;
}

.heading3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

#player1Name,
#player2Name {
  width: 70%;
  height: 25px;
  padding: 5px;
  font-size: 1.3rem;
  background-color: var(--lightModeFontColor);
  color: var(--lightModeBackGround);
  border-radius: 5px;
  border: none;
}

.sign {
  width: 10%;
  margin: 25px 0 0 0;
  padding: 5px;
  border: 3px solid var(--lightModeFontColor);
}

.signSelect {
  width: 10%;
  margin: 25px 20px 0 20px;
  padding: 5px;
  background-color: var(--lightModeBackGround);
  border: 3px solid var(--lightModeBackGround);
  transition: all 250ms;
}

.signSelect:hover {
  filter: brightness(90%);
}

.signSelect:active {
  border: 3px solid var(--lightModeFontColor);
}

.AIoptions .heading2 {
  margin-bottom: 5px;
  margin-top: 15px;
}

.AIoptions .option {
  margin-bottom: 5px;
  margin-top: 5px;
}

.play {
  width: 98%;
  padding: 5px;
  font-size: 1.5rem;
  margin-top: 10px;
  border: 2px solid var(--lightModeFontColor);
  background-color: var(--lightModeFontColor);
  color: var(--lightModeBackGround);
  transition: all 200ms;
}

.play:hover {
  background-color: var(--lightModeBackGround);
  color: var(--lightModeFontColor);
}

.play:active {
  box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
}

/*****************************************/
/**********PlayGround Settings************/
/*****************************************/

.player1Info,
.player2Info {
  width: 25%;
  height: 50%;
  text-align: center;
  line-height: 3;
}

.player1Info img, .player2Info img {
  width: 15%;
}

.playGround {
  width: 25%;
  height: 60%;
}

li {
  text-align: center;
  font-size: 6rem;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
}

#c1,
#c2,
#c3 {
  border-bottom: 3px var(--lightModeFontColor) solid;
}

#c7,
#c8,
#c9 {
  border-top: 3px var(--lightModeFontColor) solid;
}

#c2,
#c5,
#c8 {
  border-left: 3px var(--lightModeFontColor) solid;
  border-right: 3px var(--lightModeFontColor) solid;
}

#remove {
  position: absolute;
  font-size: 1.8rem;
  color: #dc2626;
  text-align: end;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

#remove:hover {
  cursor: pointer;
}

/*****************************************/
/**********GameSystem Settings************/
/*****************************************/

.winnerNoticeScreen {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--winnerBackGroundColor);
}

.winnerNotice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;;
  height: 25%;
  background-color: rgb(0 0 0 / 60%);
  font-size: 5rem;
  letter-spacing: 15px;
  word-spacing: 30px;
  color: var(--winnerColor);
}

.roundOptions {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.roundOptions button {
  font-size: 1.5rem;
  border: 2px solid #9bbdaf;
  padding: 15px;
  background-color: #d4feed;
  transition: all 100ms;
}

.roundOptions button:hover {
  border: 2px solid #d4feed;
  background-color: #9bbdaf;
  color: #d4feed;
}

.roundOptions button:active {
  box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
}

/*****************************************/
/**********Footer Settings************/
/*****************************************/

footer {
  height: 3%;
  text-align: center;
}
